.header {
  padding: 20px;
  display: flex;
}

main.mdl-layout__content {
  display: flex;
}

.title {
  margin: 0;
  display: inline-block;
}

.header-actions {
  flex: 1;
  text-align: right;
}

.header-actions button {
  color: white;
}

.container {
  flex: 1;
  padding-top: 50px;
}

.register-form {
  padding: 1px 30px 30px 30px;
}

.login-form {
  padding: 1px 30px 30px 30px;
}

.field {
  width: 100%;
  margin-top: 20px;
}

.btn-submit-container {
  margin-top: 20px;
  text-align: right;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  color: #3f51b5;
  padding-left: 16px;
}

.no-projects {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.list-item {
  cursor: pointer;
  transition: all .2s ease-out;
}

.list-item:hover, list-item--selected:hover {
  background-color: #F5F5F5;
}

.list-item--selected {
  background-color: #EEEEEE;
}

.list-item--separated {
  margin-top: 10px;
  border-top: 1px solid lightgrey;
}

.list-item--divided:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}

.btn-add-project {
  position: fixed;
  bottom: 20px;
  right: 40px;
}

.project-dialog {
  width: 500px;
}

/* project page */

.project-container {
  flex: 1;
  display: flex;
}

.project-container .mdl-grid {
  flex: 1;
}

.spinner-container {
  flex: 1;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs-container {
  display: flex;
  flex-direction: column;
}

.mdl-tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mdl-tab__panel {
  flex: 1;
  display: flex;
}

.mdl-tab__panel > div {
  flex: 1;
  display: flex;
}

.tab-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.syntax-field {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}

.model-editor {
  flex: 1;
  max-width: auto;
  padding: 16px;
  display: flex;
}

.model-textfield {
  flex: 1;
  width: auto;
  padding: 0;
  border: 0;
}

.model-editor textarea {
  height: 100%;
  resize: none;
}


.empty-project {
  width: 100%;
  padding: 100px;
  text-align: center;
}

.list-header {
  color: #3f51b5;
  margin-left: 16px;
  margin-bottom: 0;
}

.subheader {
  color: #616161;
  margin: 0;
  padding: 16px 16px 10px;
  border-bottom: 1px solid #E0E0E0;
}

.model-graph {
  flex: 1;
  display: flex;
  overflow: auto;
}

.model-graph > div {
  flex: 1;
  display: flex;
}

.formulas-list {
  flex: 1;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

.formulas-list .mdl-list {
  flex: 1;
}

.formulas-footer {
  text-align: right;
  padding: 10px;
  border-top: 1px solid #E0E0E0;
}

.no-formulas {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.compose-dialog {
  width: 400px;
}
