.header {
  padding: 20px;
  display: flex;
}

.title {
  margin: 0;
  display: inline-block;
}

.header-actions {
  flex: 1;
  text-align: right;
}

.header-actions button {
  color: white;
}

.container {
  padding-top: 50px;
}

.register-form {
  display: inline-block;
  padding: 0px 30px 30px 30px;
}

.login-form {
  display: inline-block;
  padding: 0px 30px 30px 30px;
}

.field {
  width: 100%;
  margin-top: 20px;
}

.btn-submit-container {
  margin-top: 20px;
  text-align: right;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 30px;
  color: #3f51b5;
  padding-left: 16px;
}

.list-item:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}